version: '3.8'

services:
  elasticsearch:
    container_name: elasticsearch
    build: .
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - ./volumes/esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cat/health?h=status | grep -q green || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5