.scroll-list-container {
  position: relative;
  width: 100%;
  flex: 1;
}

.scroll-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 16px;
  height: 100%;
}

.chat-bubble {
  width: 96%;
  padding: 12px 16px;
  border-radius: 16px;
  color: #eee;
  font-size: 15px;
  word-break: break-word;
  white-space: pre-wrap;
}

.chat-bubble.user {
  background-color: grey;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.chat-bubble.bot {
  background-color: #d9874d;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.scroll-list::-webkit-scrollbar {
  width: 0px;
}