.login {
    background-color: #1f1f1f; 
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hader {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #f1f1f1;
    margin-bottom: 10px;
}

.hader span {
    color: #f1f1f1;
    display: block; 
    margin-bottom: 5px;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.register input {
    height: 50px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 10px;
    border: 1.5px solid #333;
    background-color: #2b2b2b;
    color: #f1f1f1;
    transition: 0.2s ease-in-out;
}

.register input:focus {
    border: 1.5px solid #2d79f3;
    outline: none;
}

.register button[type="submit"] {
    margin-top: 20px;
    background-color: #2d79f3;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    cursor: pointer;
    border: none;
}
.register button[type="submit"]:hover {
    background-color: #2565d4;
}
.register span {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    color: #f1f1f1;
}

.register span a {
    text-decoration: none;
    color: #2d79f3
}

.login ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #aaa;
}